<h1>Reference Material</h1>
<article>
    <h4>What is linked here?</h4>
    <p>The links on the left provide further insight into topics covered in our intro to Rich Internet Applications.</p>
    <p>You are encouraged to use these references during the course.</p>
</article>
<article class="attention">
    <h4>
        <i>Attention!</i>
    </h4>
    <p>Most of these links will open in a new window/tab.</p>
    <p>This is because the Mozilla Developer Network (MDN) website uses the X-Frame-Options HTTP header to deny the use of their
        content inside an iframe.
    </p>
</article>
